<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>Waygate</title>
    
    <!--
    <link rel="icon" href="/logo.png">
    -->
    
    <style>

      :root {
        --main-color: #555555;
        --background-color: #fff;
        --hover-color: #ddd;
        --menu-label-height: 60px;
      }
      
      * {
        box-sizing: border-box;
        font-family: Arial;
      }

      body {
        font-family: Helvetica;
        display: flex;
        justify-content: center;
        margin: 0;
      }

      main {
        max-width: 640px;
      }

      .waygate-list-item {
        border: 1px solid var(--main-color);
        padding: 10px;
      }

      .waygate-table, .waygate-table__cell {
        border: 1px solid var(--main-color);
        border-collapse: collapse;
        text-align: center;
        padding: 10px;
        word-wrap: break-word;
      }

    </style>

    <style>
    </style>
  </head>

  <body>
    <main>
